{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>|Register Business|</title>
    
		{{form.media}}
		{% block styles %}

		{% bootstrap_css %}
            
        {% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class="container" background="https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style='font-family:"Merienda, cursive;'>
    {% block content%}
    <div class="well">

        <form action="{% url 'post_form'  %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form post_form layout='inline'%}
            <input type="submit" class="btn btn-pink btn-sm" value="Post">
		</form>
		

         </div>
    {% endblock %}
    <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Neighborhood Posts</div>
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.post}}</p>
                            <h6 class="card-subtitle mb-2 text-muted">{{post.upload_date|timesince}}</h6>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		{% bootstrap_javascript %} 
        {% endblock%}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   
</body>
</html>